{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css"
        href="{% static '/ordenamiento/css/index.css' %}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
            href="{% static '/ordenamiento/css/main.css' %}">
             
        <title>Inicio</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="{% url 'crear_parroquia' %}"><button>Crear parroquia +</button></a>
                <a href="{% url 'home' %}"><button
                        style="background-color: #F30067;">Panel administración</button></a>

            </nav>
        </header>
        <section>
            <article>
                {% for parroquia in parroquias %}
                <div class="parroquia">
                    <a style="align-self: self-end;"
                        href="{% url 'editar_parroquia' parroquia.id %}"><button
                            class="editar-parroquia-button">Editar ✎</button></a>

                    <span class="header">
                        <h3>{{parroquia.nombre}}</h3>
                        <p>({{parroquia.tipo}})</p>
                        
                    </span>

                    <div class="parroquia-info">
                        <span class="info-item">
                            <h4>Barrios</h4>
                            {% for barrio in parroquia.barrio_set.all %}
                            <details class="barrio">
                                <summary>{{barrio.nombre}}
                                    <a style="align-self:center; "
                                        href="{% url 'editar_barrio' barrio.id %}"><button>Editar</button></a>
                                </summary>
                                <div class="barrio-content">
                                    <ul>
                                        <li><b>Número viviendas:</b>
                                            {{barrio.numero_viviendas}}</p>
                                        <li><b>Número parques:</b>
                                            {{barrio.numero_parques}}</li>
                                        <li><b>Número edificios:</b>
                                            {{barrio.numero_edificios}}</li>
                                    </ul>
                                </div>
                            </details>
                            {% empty %}
                            <p>No has agregado barrios aún.</p>
                            {% endfor %}

                            <a style="align-self:center"
                                href="{% url 'crear_barrio' %}"><button
                                    class="crear-barrio-button">Agregar
                                    barrio+</button></a>

                        </span>
                    </div>
                </div>
                {% endfor %}
            </article>
        </section>

    </body>
</html>
